# Dependency directories
node_modules/

# Expo specific files
.expo/
.expo-shared/
expo-env.d.ts

# Build output
dist/

# Environment variables
.env

# Editor configuration
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mobile directories
android/
ios/
